In [460]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import geocoder
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

In [461]:
# USA States data & cleansing
df= pd.read_csv('C:/Users/rmarathe/Desktop/Projects/Coursera-Capstone/USA_States_cities.csv')

In [263]:
#df.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840116412
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840097718
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840096300
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840097082
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840116371

In [359]:
#df[['state_id','city']].groupby('state_id').count()

In [308]:
#df[df['state_id']=='NH'].city.value_counts()

In [360]:
#df.sort_values(by=[['population']['state']['city']], ascending=True).head(10)

In [494]:
df1 = df[df['population']>500000] # population 0.5M

In [495]:
#df1['state_id'].value_counts()
#df1[['state_id','city','lat','lng']][df1['state_id']=='CA']
df2 =df1[['state_id','city','lat','lng','population']].sort_values(by ='state_id')

In [491]:
df2.head()

      state_id         city      lat       lng  population
14121       CA  Los Angeles  34.1139 -118.4068    12815475
697         DC   Washington  38.9047  -77.0163     5289420
2882        FL        Miami  25.7839  -80.2102     6381966
17464       GA      Atlanta  33.7627  -84.4225     5228750
16289       IL      Chicago  41.8373  -87.6862     8675982

In [446]:
#for i,lng in enumerate(df2['lng']):
 #   print(df2.iloc[i]['lat'],df2.iloc[i]['lng'])

In [488]:
CLIENT_ID = 'YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH'
CLIENT_SECRET = '4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0'
VERSION = '20180604'
LIMIT=10

In [489]:
search_query = 'Chipotle'
radius = 5000
#latitude = 47.6211
#longitude = -122.3244

In [377]:
for i,lng in enumerate(df2['lng']):
 #   print(df2.iloc[i]['lat'],df2.iloc[i]['lng'])
    latitude = df2.iloc[i]['lat']
    longitude = df2.iloc[i]['lng']
    url_r = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET,latitude, longitude,VERSION, search_query, radius, LIMIT)
    url_r
    results = requests.get(url_r).json()

     #results

'https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=47.6211,-122.3244&v=20180604&query=Chipotle&radius=5000&limit=100'

In [378]:
results = requests.get(url_r).json()

results

{'meta': {'code': 200, 'requestId': '5d9c5922f96b2c002c46015f'},
 'response': {'venues': [{'id': '512d0bc1e4b01feb079d40a8',
    'name': 'Chipotle Mexican Grill',
    'location': {'address': '1415 Broadway',
     'crossStreet': 'Broadway btwn Pike and Union',
     'lat': 47.613409980561705,
     'lng': -122.32103553584659,
     'labeledLatLngs': [{'label': 'display',
       'lat': 47.613409980561705,
       'lng': -122.32103553584659}],
     'distance': 892,
     'postalCode': '98122',
     'cc': 'US',
     'city': 'Seattle',
     'state': 'WA',
     'country': 'United States',
     'formattedAddress': ['1415 Broadway (Broadway btwn Pike and Union)',
      'Seattle, WA 98122',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570527522',
    'hasPerk': False},
   {'id': '4b172856f964a52032c323e3',
    'name': 'Chipotle Mexican Grill',
    'location': {'address': '1501 4th Ave',
     'crossStreet': '3rd & Pike',
     'lat': 47.610001744916026,
     'lng': -122.33767491715571,
     'labeledLatLngs': [{'label': 'display',
       'lat': 47.610001744916026,
       'lng': -122.33767491715571}],
     'distance': 1587,
     'postalCode': '98101',
     'cc': 'US',
     'city': 'Seattle',
     'state': 'WA',
     'country': 'United States',
     'formattedAddress': ['1501 4th Ave (3rd & Pike)',
      'Seattle, WA 98101',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570527522',
    'hasPerk': False},
   {'id': '53c42c7b11d2aed5033c22b1',
    'name': 'Chipotle Mexican Grill',
    'location': {'address': '212 Westlake Ave N',
     'crossStreet': 'Westlake Ave N & Thomas St',
     'lat': 47.62033584700713,
     'lng': -122.33808066410347,
     'labeledLatLngs': [{'label': 'display',
       'lat': 47.62033584700713,
       'lng': -122.33808066410347}],
     'distance': 1030,
     'postalCode': '98109',
     'cc': 'US',
     'neighborhood': 'South Lake Union, Seattle, WA',
     'city': 'Seattle',
     'state': 'WA',
     'country': 'United States',
     'formattedAddress': ['212 Westlake Ave N (Westlake Ave N & Thomas St)',
      'Seattle, WA 98109',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570527522',
    'hasPerk': False},
   {'id': '459fae7cf964a520c5401fe3',
    'name': 'Chipotle Mexican Grill',
    'location': {'address': '4229 University Way NE',
     'crossStreet': 'University Ave NE b/w 42nd & 43rd',
     'lat': 47.65923993614187,
     'lng': -122.31340227422237,
     'labeledLatLngs': [{'label': 'display',
       'lat': 47.65923993614187,
       'lng': -122.31340227422237}],
     'distance': 4325,
     'postalCode': '98105',
     'cc': 'US',
     'city': 'Seattle',
     'state': 'WA',
     'country': 'United States',
     'formattedAddress': ['4229 University Way NE (University Ave NE b/w 42nd & 43rd)',
      'Seattle, WA 98105',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570527522',
    'hasPerk': False},
   {'id': '564b99a9498e6ad175efb631',
    'name': 'Chipotle Mexican Grill',
    'location': {'address': '2626 NE 46th St',
     'crossStreet': 'at University Village',
     'lat': 47.66190855000001,
     'lng': -122.29873468159735,
     'labeledLatLngs': [{'label': 'display',
       'lat': 47.66190855000001,
       'lng': -122.29873468159735}],
     'distance': 4933,
     'postalCode': '98105',
     'cc': 'US',
     'city': 'Seattle',
     'state': 'WA',
     'country': 'United States',
     'formattedAddress': ['2626 NE 46th St (at University Village)',
      'Seattle, WA 98105',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570527522',
    'hasPerk': False}]}}

In [381]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
df_r = df_r.append(json_normalize(venues))
#df_r.head(2)
print('appended')

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",False,512d0bc1e4b01feb079d40a8,1415 Broadway,US,Seattle,United States,Broadway btwn Pike and Union,892,"[1415 Broadway (Broadway btwn Pike and Union),...","[{'label': 'display', 'lat': 47.61340998056170...",47.613410,-122.321036,NaN,98122,WA,Chipotle Mexican Grill,v-1570527522
1,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",False,4b172856f964a52032c323e3,1501 4th Ave,US,Seattle,United States,3rd & Pike,1587,"[1501 4th Ave (3rd & Pike), Seattle, WA 98101,...","[{'label': 'display', 'lat': 47.61000174491602...",47.610002,-122.337675,NaN,98101,WA,Chipotle Mexican Grill,v-1570527522
2,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",False,53c42c7b11d2aed5033c22b1,212 Westlake Ave N,US,Seattle,United States,Westlake Ave N & Thomas St,1030,[212 Westlake Ave N (Westlake Ave N & Thomas S...,"[{'label': 'display', 'lat': 47.62033584700713...",47.620336,-122.338081,"South Lake Union, Seattle, WA",98109,WA,Chipotle Mexican Grill,v-1570527522
3,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",False,459fae7cf964a520c5401fe3,4229 University Way NE,US,Seattle,United States,University Ave NE b/w 42nd & 43rd,4325,[4229 University Way NE (University Ave NE b/w...,"[{'label': 'display', 'lat': 47.65923993614187...",47.659240,-122.313402,NaN,98105,WA,Chipotle Mexican Grill,v-1570527522
4,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",False,564b99a9498e6ad175efb631,2626 NE 46th St,US,Seattle,United States,at University Village,4933,"[2626 NE 46th St (at University Village), Seat...","[{'label': 'display', 'lat': 47.66190855000001...",47.661909,-122.298735,NaN,98105,WA,Chipotle Mexican Grill,v-1570527522

In [56]:
df_r.shape

(36, 17)

In [67]:
search_id = '4adf2783f964a520e67721e3'
url_id = 'https://api.foursquare.com/v2/venues/4adf2783f964a520e67721e3?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET,latitude, longitude,VERSION,radius, LIMIT)
url_id

'https://api.foursquare.com/v2/venues/4adf2783f964a520e67721e3?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.09,-94.57&v=20180604&radius=50000&limit=100'

In [68]:
results = requests.get(url_id).json()

In [69]:
results

{'meta': {'code': 200, 'requestId': '5d998444a3061900390d8f96'},
 'response': {'venue': {'id': '4adf2783f964a520e67721e3',
   'name': 'Chipotle Mexican Grill',
   'contact': {'phone': '8164214342',
    'formattedPhone': '(816) 421-4342',
    'twitter': 'chipotletweets',
    'instagram': 'chipotle',
    'facebook': '151000404920438',
    'facebookUsername': 'ChipotleKansasCityLive',
    'facebookName': 'Chipotle Mexican Grill'},
   'location': {'address': '1370 Walnut St',
    'crossStreet': 'at E 14th St',
    'lat': 39.09736788816193,
    'lng': -94.58247424545118,
    'labeledLatLngs': [{'label': 'display',
      'lat': 39.09736788816193,
      'lng': -94.58247424545118}],
    'distance': 1354,
    'postalCode': '64106',
    'cc': 'US',
    'city': 'Kansas City',
    'state': 'MO',
    'country': 'United States',
    'formattedAddress': ['1370 Walnut St (at E 14th St)',
     'Kansas City, MO 64106',
     'United States']},
   'canonicalUrl': 'https://foursquare.com/v/chipotle-mexican-grill/4adf2783f964a520e67721e3',
   'categories': [{'id': '4bf58dd8d48988d1c1941735',
     'name': 'Mexican Restaurant',
     'pluralName': 'Mexican Restaurants',
     'shortName': 'Mexican',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
      'suffix': '.png'},
     'primary': True}],
   'verified': True,
   'stats': {'tipCount': 22},
   'url': 'https://locations.chipotle.com/mo/kansas-city/1370-walnut-st',
   'price': {'tier': 2, 'message': 'Moderate', 'currency': '$'},
   'likes': {'count': 85,
    'groups': [{'type': 'others', 'count': 85, 'items': []}],
    'summary': '85 Likes'},
   'dislike': False,
   'ok': False,
   'rating': 7.7,
   'ratingColor': 'C5DE35',
   'ratingSignals': 116,
   'allowMenuUrlEdit': True,
   'beenHere': {'count': 0,
    'unconfirmedCount': 0,
    'marked': False,
    'lastCheckinExpiredAt': 0},
   'specials': {'count': 0, 'items': []},
   'photos': {'count': 72,
    'groups': [{'type': 'checkin',
      'name': "Friends' check-in photos",
      'count': 0,
      'items': []},
     {'type': 'venue',
      'name': 'Venue photos',
      'count': 72,
      'items': [{'id': '519d0b68498e29f373a338cc',
        'createdAt': 1369246568,
        'source': {'name': 'Foursquare for iOS',
         'url': 'https://foursquare.com/download/#/iphone'},
        'prefix': 'https://fastly.4sqi.net/img/general/',
        'suffix': '/43849673_BE1GhoW72hJ7NU9xzUBZMwNMvi7Kl4MnvtOzumZXU1U.jpg',
        'width': 960,
        'height': 720,
        'user': {'id': '43849673',
         'firstName': 'Steve',
         'lastName': 'Carter',
         'gender': 'male',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/1SL4X23UYVCB2LRE.jpg'}},
        'visibility': 'public'}]}],
    'summary': '0 photos'},
   'reasons': {'count': 1,
    'items': [{'summary': 'Lots of people like this place',
      'type': 'general',
      'reasonName': 'rawLikesReason'}]},
   'description': 'Chipotle is a restaurant that prepares burritos and tacos at reasonable prices. Our Food With Integrity philosophy includes unprocessed, sustainable, nutritious, responsibly raised, and organic foods where possible.',
   'storeId': '859',
   'page': {'pageInfo': {'description': 'Welcome to the official Chipotle Mexican Grill page.\n\nAccept no substitute (or something).',
     'banner': 'https://is1.4sqi.net/userpix/AXGS40PDM35SEX0X.jpg',
     'links': {'count': 1, 'items': [{'url': 'http://www.chipotle.com'}]}},
    'user': {'id': '9916394',
     'firstName': 'Chipotle Mexican Grill',
     'gender': 'none',
     'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
      'suffix': '/VMDUAZ4E0L0GXTNW.jpg'},
     'type': 'chain',
     'tips': {'count': 32},
     'lists': {'groups': [{'type': 'created', 'count': 2, 'items': []}]},
     'homeCity': 'Denver, CO',
     'bio': '',
     'contact': {}}},
   'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
   'createdAt': 1256138627,
   'tips': {'count': 22,
    'groups': [{'type': 'others',
      'name': 'All tips',
      'count': 22,
      'items': [{'id': '4ec304710aaf300b7fb8289b',
        'createdAt': 1321403505,
        'text': "They now have a brown rice option! (shhhhh don't tell anyone it's healthy...it's super delish!)",
        'type': 'user',
        'canonicalUrl': 'https://foursquare.com/item/4ec304710aaf300b7fb8289b',
        'lang': 'en',
        'likes': {'count': 6,
         'groups': [{'type': 'others',
           'count': 6,
           'items': [{'id': '1083268',
             'firstName': 'Michael',
             'lastName': 'Levine',
             'gender': 'male',
             'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
              'suffix': '/DA2SH5P1WEMOCHDD.jpg'}},
            {'id': '77041357',
             'firstName': 'Danny',
             'lastName': 'K',
             'gender': 'male',
             'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
              'suffix': '/77041357-5DYZO1BYKO3GDAKH.jpg'}},
            {'id': '61524630',
             'firstName': 'Melissa',
             'lastName': 'Bollman',
             'gender': 'female',
             'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
              'suffix': '/61524630-M0PEHSH200EKJ5MB.jpg'}},
            {'id': '13866189',
             'firstName': 'Angel',
             'lastName': 'Suarez',
             'gender': 'male',
             'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
              'suffix': '/ZOZWEQPIERNLCEWF.jpg'}}]}],
         'summary': '6 likes'},
        'logView': True,
        'agreeCount': 6,
        'disagreeCount': 0,
        'todo': {'count': 0},
        'user': {'id': '254660',
         'firstName': 'Katie',
         'lastName': 'McCurry',
         'gender': 'female',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/254660-OQDRZISK5KU22NL1.jpg'}}}]}]},
   'shortUrl': 'http://4sq.com/5JEezf',
   'timeZone': 'America/Chicago',
   'listed': {'count': 8,
    'groups': [{'type': 'others',
      'name': 'Lists from other people',
      'count': 8,
      'items': [{'id': '51e6ad3ee4b01795fe4614e0',
        'name': 'Power and Light',
        'description': '',
        'type': 'others',
        'user': {'id': '60595632',
         'firstName': 'Clint',
         'lastName': 'Calder',
         'gender': 'male',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/IFFMFCALBSRXUHIU.jpg'}},
        'editable': False,
        'public': True,
        'collaborative': False,
        'url': '/user/60595632/list/power-and-light',
        'canonicalUrl': 'https://foursquare.com/user/60595632/list/power-and-light',
        'createdAt': 1374072126,
        'updatedAt': 1384925553,
        'followers': {'count': 1},
        'listItems': {'count': 61,
         'items': [{'id': 'v4adf2783f964a520e67721e3',
           'createdAt': 1374072176}]}},
       {'id': '4e9f3262754ae603f53d9c4b',
        'name': 'Must-visit Mexican Restaurants in Kansas City',
        'description': '',
        'type': 'others',
        'user': {'id': '3507530',
         'firstName': 'Chris',
         'lastName': 'Carroll',
         'gender': 'male',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/3507530_s9SSkYHD_WHeNFcS-UjqC8LjcYcRm7mvvr-l6bvogpm77edAjXWfkfjN2fX0PJlzq7S8ccoax.jpg'}},
        'editable': False,
        'public': True,
        'collaborative': False,
        'url': '/chrisc13/list/mustvisit-mexican-restaurants-in-kansas-city',
        'canonicalUrl': 'https://foursquare.com/chrisc13/list/mustvisit-mexican-restaurants-in-kansas-city',
        'createdAt': 1319055970,
        'updatedAt': 1319055970,
        'followers': {'count': 1},
        'listItems': {'count': 3,
         'items': [{'id': 'v4adf2783f964a520e67721e3',
           'createdAt': 1319055970}]}},
       {'id': '506093fae4b05df83ef276a9',
        'name': 'Midtown Lunch Spots',
        'description': '',
        'type': 'others',
        'user': {'id': '578115',
         'firstName': 'Patrick',
         'lastName': 'Stoddart',
         'gender': 'male',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/578115_nqBCNd3v_rw6XArsGmOfxI1myJAfktmKEJAI0OzVy-dN6rYAyib2p5eh54ML0VdAJZc-d7QuE.jpg'}},
        'editable': False,
        'public': True,
        'collaborative': False,
        'url': '/prstoddart/list/midtown-lunch-spots',
        'canonicalUrl': 'https://foursquare.com/prstoddart/list/midtown-lunch-spots',
        'createdAt': 1348506618,
        'updatedAt': 1348506820,
        'followers': {'count': 0},
        'listItems': {'count': 9,
         'items': [{'id': 'v4adf2783f964a520e67721e3',
           'createdAt': 1348506802}]}},
       {'id': '509265dfe4b0a82b9a04baac',
        'name': "Kansas City chillin'",
        'description': '',
        'type': 'others',
        'user': {'id': '11948472',
         'firstName': 'Gregory',
         'lastName': 'Garcia',
         'gender': 'male',
         'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
          'suffix': '/11948472_2yezk14q_4gxNe9cYzFCLrbvwUYm5d0q_V4SaT3mEMpJWrp6QfC6CjKnAkc3YorXSb98Ya5TF.jpg'}},
        'editable': False,
        'public': True,
        'collaborative': False,
        'url': '/furrytexan/list/kansas-city-chillin',
        'canonicalUrl': 'https://foursquare.com/furrytexan/list/kansas-city-chillin',
        'createdAt': 1351771615,
        'updatedAt': 1386395687,
        'followers': {'count': 3},
        'listItems': {'count': 60,
         'items': [{'id': 'v4adf2783f964a520e67721e3',
           'createdAt': 1351779186}]}}]}]},
   'hours': {'status': 'Closed until 10:45 AM',
    'richStatus': {'entities': [], 'text': 'Closed until 10:45 AM'},
    'isOpen': False,
    'isLocalHoliday': False,
    'dayData': [],
    'timeframes': [{'days': 'Mon–Sun',
      'includesToday': True,
      'open': [{'renderedTime': '10:45 AM–10:00 PM'}],
      'segments': []}]},
   'popular': {'isOpen': False,
    'isLocalHoliday': False,
    'timeframes': [{'days': 'Today',
      'includesToday': True,
      'open': [{'renderedTime': 'Noon–8:00 PM'}],
      'segments': []},
     {'days': 'Mon',
      'open': [{'renderedTime': '11:00 AM–2:00 PM'},
       {'renderedTime': '5:00 PM–8:00 PM'}],
      'segments': []},
     {'days': 'Tue–Wed',
      'open': [{'renderedTime': '11:00 AM–3:00 PM'},
       {'renderedTime': '5:00 PM–8:00 PM'}],
      'segments': []},
     {'days': 'Thu–Fri',
      'open': [{'renderedTime': '11:00 AM–3:00 PM'},
       {'renderedTime': '5:00 PM–9:00 PM'}],
      'segments': []},
     {'days': 'Sat',
      'open': [{'renderedTime': 'Noon–9:00 PM'}],
      'segments': []}]},
   'pageUpdates': {'count': 22, 'items': []},
   'inbox': {'count': 0, 'items': []},
   'attributes': {'groups': [{'type': 'price',
      'name': 'Price',
      'summary': '$$',
      'count': 1,
      'items': [{'displayName': 'Price',
        'displayValue': '$$',
        'priceTier': 2}]},
     {'type': 'reservations',
      'name': 'Reservations',
      'count': 3,
      'items': [{'displayName': 'Reservations', 'displayValue': 'No'}]},
     {'type': 'payments',
      'name': 'Credit Cards',
      'summary': 'Credit Cards',
      'count': 7,
      'items': [{'displayName': 'Credit Cards',
        'displayValue': 'Yes (incl. Discover & Visa)'}]},
     {'type': 'outdoorSeating',
      'name': 'Outdoor Seating',
      'summary': 'Outdoor Seating',
      'count': 1,
      'items': [{'displayName': 'Outdoor Seating', 'displayValue': 'Yes'}]},
     {'type': 'serves',
      'name': 'Menus',
      'summary': 'Dinner, Lunch & more',
      'count': 8,
      'items': [{'displayName': 'Brunch', 'displayValue': 'Brunch'},
       {'displayName': 'Lunch', 'displayValue': 'Lunch'},
       {'displayName': 'Dinner', 'displayValue': 'Dinner'}]},
     {'type': 'drinks',
      'name': 'Drinks',
      'summary': 'Cocktails',
      'count': 5,
      'items': [{'displayName': 'Cocktails', 'displayValue': 'Cocktails'}]},
     {'type': 'diningOptions',
      'name': 'Dining Options',
      'count': 5,
      'items': [{'displayName': 'Delivery', 'displayValue': 'No Delivery'}]}]},
   'bestPhoto': {'id': '519d0b68498e29f373a338cc',
    'createdAt': 1369246568,
    'source': {'name': 'Foursquare for iOS',
     'url': 'https://foursquare.com/download/#/iphone'},
    'prefix': 'https://fastly.4sqi.net/img/general/',
    'suffix': '/43849673_BE1GhoW72hJ7NU9xzUBZMwNMvi7Kl4MnvtOzumZXU1U.jpg',
    'width': 960,
    'height': 720,
    'visibility': 'public'},
   'colors': {'highlightColor': {'photoId': '519d0b68498e29f373a338cc',
     'value': -15198192},
    'highlightTextColor': {'photoId': '519d0b68498e29f373a338cc', 'value': -1},
    'algoVersion': 3}}}}

In [72]:
# assign relevant part of individual_outlet JSON to outlet_df
outlet = results['response']['venue']

# tranform venues into a dataframe
df_id = json_normalize(outlet)
df_id.head()

,allowMenuUrlEdit,attributes.groups,beenHere.count,beenHere.lastCheckinExpiredAt,beenHere.marked,beenHere.unconfirmedCount,bestPhoto.createdAt,bestPhoto.height,bestPhoto.id,bestPhoto.prefix,...,shortUrl,specials.count,specials.items,stats.tipCount,storeId,timeZone,tips.count,tips.groups,url,verified
0,True,"[{'type': 'price', 'name': 'Price', 'summary':...",0,0,False,0,1369246568,720,519d0b68498e29f373a338cc,https://fastly.4sqi.net/img/general/,...,http://4sq.com/5JEezf,0,[],22,859,America/Chicago,22,"[{'type': 'others', 'name': 'All tips', 'count...",https://locations.chipotle.com/mo/kansas-city/...,True

In [ ]:
# link to countries satae data with coordinates
# http://www.unece.org/cefact/locode/welcome.html

#USA - https://service.unece.org/trade/locode/us.htm

#Aus - https://service.unece.org/trade/locode/au.htm

In [81]:
search_query2 ='tourist'
url_ta = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET,latitude, longitude,VERSION, search_query2, radius, LIMIT)
url_ta
results = requests.get(url_ta).json()
results

{'meta': {'code': 200, 'requestId': '5d9acfbe6001bc002c203d94'},
 'response': {'venues': [{'id': '538f5745498e4e9b2236e659',
    'name': 'Tourist Information',
    'location': {'lat': 39.084719,
     'lng': -94.585284,
     'labeledLatLngs': [{'label': 'display',
       'lat': 39.084719,
       'lng': -94.585284}],
     'distance': 1445,
     'cc': 'US',
     'city': 'Kansas City',
     'state': 'MO',
     'country': 'United States',
     'formattedAddress': ['Kansas City, MO', 'United States']},
    'categories': [{'id': '4f4530164b9074f6e4fb00ff',
      'name': 'Tourist Information Center',
      'pluralName': 'Tourist Information Centers',
      'shortName': 'Tourist Information',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/touristinformation_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570426814',
    'hasPerk': False},
   {'id': '4e28d21e52b1c37d35c67d78',
    'name': 'Red Crown Tavern And Tourist Cabins Sign',
    'location': {'address': '12200 N Ambassador Dr',
     'crossStreet': 'Cookingham Drive',
     'lat': 39.31228678072903,
     'lng': -94.68270778656006,
     'labeledLatLngs': [{'label': 'display',
       'lat': 39.31228678072903,
       'lng': -94.68270778656006}],
     'distance': 26586,
     'postalCode': '64163',
     'cc': 'US',
     'city': 'Kansas City',
     'state': 'MO',
     'country': 'United States',
     'formattedAddress': ['12200 N Ambassador Dr (Cookingham Drive)',
      'Kansas City, MO 64163',
      'United States']},
    'categories': [{'id': '4deefb944765f83613cdba6e',
      'name': 'Historic Site',
      'pluralName': 'Historic Sites',
      'shortName': 'Historic Site',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/historicsite_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1570426814',
    'hasPerk': False}]}}

In [82]:
# assign relevant part of JSON to tourist_attactions
tourist_attactions = results['response']['venues']

# tranform venues into a dataframe
df_ta = json_normalize(tourist_attactions)
df_ta.head()

,categories,hasPerk,id,location.address,location.cc,location.city,location.country,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4f4530164b9074f6e4fb00ff', 'name': 'T...",False,538f5745498e4e9b2236e659,NaN,US,Kansas City,United States,NaN,1445,"[Kansas City, MO, United States]","[{'label': 'display', 'lat': 39.084719, 'lng':...",39.084719,-94.585284,NaN,MO,Tourist Information,v-1570426814
1,"[{'id': '4deefb944765f83613cdba6e', 'name': 'H...",False,4e28d21e52b1c37d35c67d78,12200 N Ambassador Dr,US,Kansas City,United States,Cookingham Drive,26586,"[12200 N Ambassador Dr (Cookingham Drive), Kan...","[{'label': 'display', 'lat': 39.31228678072903...",39.312287,-94.682708,64163,MO,Red Crown Tavern And Tourist Cabins Sign,v-1570426814

In [496]:
df2.shape

(84, 5)

In [497]:
df2.head()

      state_id        city      lat       lng  population
14439       AL  Birmingham  33.5277  -86.7987      744189
19436       AZ      Tucson  32.1545 -110.8782      868391
19443       AZ     Phoenix  33.5722 -112.0891     4081849
14283       CA    San Jose  37.3021 -121.8489     1821899
14236       CA   Riverside  33.9381 -117.3948     2084749

In [499]:
for i,lng in enumerate(df2['lng']):
 #   print(df2.iloc[i]['lat'],df2.iloc[i]['lng'])
    latitude = df2.iloc[i]['lat']
    longitude = df2.iloc[i]['lng']
    url_r = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET,latitude, longitude,VERSION, search_query, radius, LIMIT)
    print(url_r)
    results = requests.get(url_r).json()
    venues = results['response']['venues']

    # tranform venues into a dataframe
    df_r = df_r.append(json_normalize(venues))
    #df_r.head(2)
    print('appended')

https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=33.5277,-86.7987&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=32.1545,-110.8782&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=33.5722,-112.0891&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=37.3021,-121.8489&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=33.9381,-117.3948&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=34.1139,-118.4068&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=36.7831,-119.7941&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=37.7562,-122.443&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.353,-119.0359&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=33.6095,-117.655&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=32.8312,-117.1225&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=38.5667,-121.4683&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=37.9722,-122.0016&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=38.8674,-104.7606&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.7621,-104.8759&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.7661,-72.6834&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.1918,-73.1953&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.3112,-72.9246&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=38.9047,-77.0163&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=26.6445,-81.9955&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=27.9942,-82.4451&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=30.3322,-81.6749&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=28.4772,-81.3369&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=27.3386,-82.54299999999999&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=25.7839,-80.2102&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=33.7627,-84.4225&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=21.3294,-157.846&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.8373,-87.6862&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.7771,-86.1458&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=38.1663,-85.6485&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=30.4419,-91.131&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=30.0687,-89.9288&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.1155,-72.5395&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.3188,-71.0846&v=20180604&query=Chipotle&radius=5000&limit=10

appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.3051,-76.6144&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.9615,-85.6557&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.3834,-83.1024&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=44.9635,-93.2678&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.1239,-94.5541&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=38.6358,-90.2451&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.2079,-80.8304&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.8324,-78.6438&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.2628,-96.0498&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.1053,-106.6464&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=36.2333,-115.2654&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.7834,-73.9662&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.6943,-73.9249&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.6501,-73.9496&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=43.168,-77.6162&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.9017,-78.8487&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.8501,-73.8662&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.7498,-73.7976&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=42.6664,-73.7987&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.0798,-81.5219&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.986,-82.9851&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.1412,-84.506&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=39.7797,-84.1998&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.4767,-81.6805&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=36.1284,-95.9043&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.4676,-97.5137&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=45.5371,-122.65&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.0077,-75.1339&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.5961,-75.4755&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.4396,-79.9763&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.823,-71.4187&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=32.8151,-79.96300000000001&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=34.0376,-80.9037&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.1046,-89.9773&v=20180604&query=Chipotle&radius=5000&limit=10

appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=36.1715,-86.7843&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=35.9692,-83.9496&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=32.7936,-96.7662&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=31.8479,-106.4309&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=29.4658,-98.5254&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=30.3006,-97.7517&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=29.7869,-95.3905&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=26.2273,-98.2471&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=32.7812,-97.3472&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=41.228,-111.9677&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.7774,-111.93&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=40.2457,-111.6457&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=37.5295,-77.4756&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=36.7335,-76.0435&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=47.6211,-122.3244&v=20180604&query=Chipotle&radius=5000&limit=10
appended
https://api.foursquare.com/v2/venues/search?client_id=YBCPSEG3FO2VBAYYH11GH2OF0NL3YTZMKF34WRMIPL2RTHFH&client_secret=4A3UAJ1EIUPABM4NY3TG2YE4OBQQEJ3IDEZLH31QK1SZ5GI0&ll=43.0642,-87.9673&v=20180604&query=Chipotle&radius=5000&limit=10
appended

In [502]:
df_r.shape

(523, 24)

In [506]:
df_r.head(5)

,categories,delivery.id,delivery.provider.icon.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.name,delivery.url,hasPerk,id,location.address,...,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.neighborhood,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,512d0bc1e4b01feb079d40a8,1415 Broadway,...,892,"[1415 Broadway (Broadway btwn Pike and Union),...","[{'label': 'display', 'lat': 47.61340998056170...",47.613410,-122.321036,NaN,98122,WA,Chipotle Mexican Grill,v-1570527522
1,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,4b172856f964a52032c323e3,1501 4th Ave,...,1587,"[1501 4th Ave (3rd & Pike), Seattle, WA 98101,...","[{'label': 'display', 'lat': 47.61000174491602...",47.610002,-122.337675,NaN,98101,WA,Chipotle Mexican Grill,v-1570527522
2,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,53c42c7b11d2aed5033c22b1,212 Westlake Ave N,...,1030,[212 Westlake Ave N (Westlake Ave N & Thomas S...,"[{'label': 'display', 'lat': 47.62033584700713...",47.620336,-122.338081,"South Lake Union, Seattle, WA",98109,WA,Chipotle Mexican Grill,v-1570527522
3,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,459fae7cf964a520c5401fe3,4229 University Way NE,...,4325,[4229 University Way NE (University Ave NE b/w...,"[{'label': 'display', 'lat': 47.65923993614187...",47.659240,-122.313402,NaN,98105,WA,Chipotle Mexican Grill,v-1570527522
4,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,564b99a9498e6ad175efb631,2626 NE 46th St,...,4933,"[2626 NE 46th St (at University Village), Seat...","[{'label': 'display', 'lat': 47.66190855000001...",47.661909,-122.298735,NaN,98105,WA,Chipotle Mexican Grill,v-1570527522

In [507]:
df_r['location.state'].value_counts()

NY      93
CA      89
TX      48
OH      40
D.C.    23
MA      22
MN      18
PA      17
WA      15
NC      14
CO      14
MD      14
GA      13
TN      12
OR      12
FL      11
CT      10
VA       8
UT       6
IL       6
MO       4
AZ       4
IN       4
AL       4
OK       4
RI       4
KY       2
SC       2
WI       2
LA       2
NV       2
NE       2
NM       2
Name: location.state, dtype: int64

In [505]:
df_r.describe()

       location.distance  location.lat  location.lng
count         523.000000    523.000000    523.000000
mean         3690.095602     38.453257    -91.758003
std          1590.687870      4.412273     18.197495
min           161.000000     25.749312   -122.691122
25%          2397.000000     35.853108   -106.427560
50%          3822.000000     39.271380    -84.407009
75%          4969.500000     40.782544    -76.007124
max          7298.000000     47.661909    -71.027265